<a  class="body">
    <div *ngIf="movie" class="movie-card">
        <div class="content">
            <div class="detail-section">
                <h1>{{ movie?.title }}</h1>
                <p>{{ movie?.synopsis }}</p>
                <p>{{ movie?.actor }}</p>
                <p>{{ movie?.year }}</p>
                <!-- ... -->
            </div>
            <div class="image-section">
                <img [src]="movie.picture" alt="Movie poster" class="movie-image">
            </div>
        </div>
    </div>

    <div *ngIf="movie" class="movie-card">
        <!-- existing movie details here... -->
        <div class="rating-invitation">
            <p>Have you watched it already? Rate it!</p>
            <button routerLink="/rate-movie/{{ movie?.title }}">Rate this Movie</button>
        </div>
    </div>
    
</a>
